/* Estilo para HEAD header */
HEAD header {
  background-color: white;
  padding: 2% 4%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Marcellus', serif;
}

.home {
  margin-bottom: 0%;
  width: 100%;
  height: 130px;
  display: flex;
  margin-bottom: 0%;
}

#modalApiKey {
  width: 50%;
  background-color: #f5eee4;
  display: flex;
  border-radius: 10px;
  border: 0;
  height: 5%;
}

#ApiKey {
  border: 0;
  outline: none;
  width: 80%;
  font-size: medium;
}

#root {
  max-width: 100%;
  margin: 2% auto;
  margin-top: -1%;
  display: flex;
  padding-bottom: 40px;
}

body {
  font-family: 'Marcellus', serif;
  background-color: #fdfbf9;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Marcellus', serif;
  color: #332D40;
  margin-bottom: 3%;
}

.error-image {
  width: 20%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42%;
}

.form-container {
  max-width: 100%;
  height: 10%;
  margin: auto;
  background-color: #f5eee4;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: -3%;
  align-items: center;
  justify-content: center;
}

select {
  width: 16%;
  height: 0.5%;
  padding: 1%;
  margin-bottom: 2%;
  margin-top: 1%;
  border: 0;
  border-radius: 10%;
  font-family: 'Marcellus', serif;
  display: flex;
  margin-left: 4%;
}

#button-clear,
#button-facts,
#button-chat,
#button-chatGroup,
#button-goHome,
#button-back-home,
#button-send,
#buttonBackHomeChat,
#buttonBackHomeChatI,
#buttonchatGrupal {
  font-family: 'Marcellus', serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #332D40;
  color: #f8edda;
  display: flex;
  text-align: center;
  width: auto;
  margin-left: 4%;
  cursor: pointer;
  border: 0;
  border-radius: 10%;
}

#button-send {
  margin-left: 5%;
}

#button-chat {
  align-items: center;
  margin-left: 65%;
  margin-bottom: 5%;
  margin-top: -20%;
}

#button-goHome {
  align-items: center;
  margin-left: 50%;
}

#button-close {
  font-family: 'Marcellus', serif;
  font-weight: bold;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #332D40;
  color: #f8edda;
  display: flex;
  text-align: center;
  width: auto;
  cursor: pointer;
  border-radius: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card img {
  width: 70%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1.5%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 2%;
  gap: 1%;
  text-align: justify;
  font-size: small;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.card {
  width: calc(21% - 1%);
  margin: 2%;
  text-align: justify;
  margin: 2%;
  background-color: #f5eee4;
  font-family: 'Marcellus', serif;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  cursor: pointer;
}


dd[itemprop="name"] {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: medium;
  align-items: center;
}

dd[itemprop="shortDescription"] {
  text-align: justify;
}

dd[itemprop="fechaNacimiento"],
dd[itemprop="fechaMuerte"],
dd[itemprop="LugarNacimiento"],
dd[itemprop="género"] {
  text-align: justify;
  display: flex;
}

dt[itemprop="fechaNacimiento"],
dt[itemprop="fechaMuerte"],
dt[itemprop="LugarNacimiento"],
dt[itemprop="género"] {
  text-align: justify;
  display: flex;
}

dt {
  font-weight: bold;
  text-align: justify;
}

dl {
  margin: 4%
}

img {
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1cd885e;

}

dd {
  margin-inline-start: 1px;
}

footer {
  background-color: #f5eee4;
  font-family: 'Marcellus', serif;
  color: black;
  text-align: center;
  padding: 3%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: -50%;
}

#statsDialog {
  background-color: #f5eee4;
  padding: 1px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*estilo para el chat individual*/
.container-chat-ind {
  display: flex;
  border-radius: 40px 40px 40px 40px;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.credentialWriter {
  flex: 30%;
  padding: 20px;
  width: 40%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px 50px 50px 50px;
}

.writer-img {
  display: flex;
  max-width: 50%;
  height: auto;
  border-radius: 5%;
  margin-left: 25%;
}

img {
  border-radius: 5%;
}

.nameWriterc {
  font-size: 18px;
}

.description-writer {
  text-align: justify;
  font-size: 12px;
}

/* chatI*/

.chatI {
  flex: 65%;
  width: 10%;
  flex-direction: column;
  max-height: 350px;
}


.genMess {
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column-reverse;
}

.chat-inputI {
  align-items: center;
  margin-left: 5%;
  display: inline-flex;
  width: 85%;
  height: 10%;
  justify-content: space-around;
}

#userInputI {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-family: 'Marcellus', serif;
  margin-bottom: -30%;
  width: 100%;
  font-size: 16px;
  margin-left: 10%;
  text-align: justify;
}

#SendButtomChatI {
  font-family: 'Marcellus', serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #332D40;
  color: #f8edda;
  display: flex;
  text-align: center;
  width: auto;
  margin-left: 4%;
  cursor: pointer;
  border: 0;
  border-radius: 10%;
  margin-top: 30%;

}

.container-Buttoms-chat {
  flex-direction: row;
}

.userNameI {
  color: gray;
  margin-left: 30%;
  margin-bottom: 2%;
}

.messUserI {
  background-color: #f3e8e0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 60%;
  margin-left: 30%;
  margin-right: 5%;
}

.messageI {
  width: 60%;
}

.nameSystem {
  margin-left: 10%;
  color: gray;
  margin-bottom: 2%;
}

.systemMessage {
  background-color: #ede9e6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#userId {
  margin-left: 40%;
}

#userId,
#writerId {
  font-weight: small;
  color: gray;
}

.container-Buttoms-chat {
  justify-content: center;
  display: flex;
}

#buttonBackHomeChatI {
  margin-left: 10%;
  margin-bottom: 4%;
}

#buttonchatGrupal {
  margin-left: 5%;
  margin-bottom: 4%;
}

/*estilo para el chat grupal*/

.containerChatG {
  display: flex;
  width: 90%;
  margin-left: 3%;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 40px 40px 40px 40px;
}

.credentialWriterG {
  flex: 25%;
  display: flex;
  padding: 20px;
  width: 40%;
  border-radius: 50px 50px 50px 50px;
  display: inline-block;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 350px;
}

.imgChatGroup {
  width: 10%;
  height: auto;
  border-radius: 20px;
}

.imgChatGroupCont {
  border: 0, 5%;
  display: flex;
  align-items: center;
}

.groupChatGlobal {
  width: 10%;
  flex: 65%;
  max-height: 350px;
}

.groupChat {
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
}

.messUser {
  background-color: #f3e8e0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 60%;
  margin-left: 30%;
  margin-right: 5%;
}

.chatGlobal {
  flex: 60%;
  padding: 100px;
  border-right: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  /*flex-direction: column-reverse;*/
}

.chat-inputG {
  display: flex;
  width: 85%;
  height: 15%;
  margin-left: 10%;
  margin-top: 4%;
  justify-content: space-around;

}

.texAreaChatG {
  flex: 1;
  width: 80%;
  font-family: 'Marcellus', serif;
}

.SendButtomChat {
  font-family: 'Marcellus', serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #332D40;
  color: #f8edda;
  cursor: pointer;
  border: 0;
  border-radius: 10%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.userNameG {
  color: gray;
  margin-left: 30%;

}

.nameSystemG {
  margin-left: 5%;
  color: gray;
  margin-top: 1%;
}

.systemMessageG {
  background-color: #ede9e6;
  border-radius: 10px;
  padding: 10px;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.container-Buttoms-chatG {
  margin-top: 4%;
  margin-left: 45%;
  margin-bottom: 2%;
}


/*media query*/
@media (max-width: 450px) {
  header {
    padding: 1% 2%;
  }

  .home {
    height: auto;
  }

  #root {
    margin-top: 0;
    padding-bottom: 10px;
    margin: 1% 1% 1% 1%;
    align-self: normal;
  }

  .form-container {
    height: auto;
    font-size: xx-small;
    padding: 0.5%;
    justify-items: center;
  }

  select {
    margin-right: 0.5%;
    font-size: xx-small;
  }

  #button-clear,
  #button-facts,
  #button-chatGroup,
  #button-goHome {
    font-weight: auto;
    font-size: xx-small;
    margin-right: 1%;
    margin-left: 1%;
  }

  .card {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

/*media query. Vista Chat*/
@media (max-width: 450px) {
  .container-chat-ind {
    flex-direction: column;
    align-items: center;
  }

  .container-chat-ind {
    width: 90%;
  }

  .credentialWriter {
    width: 40%;
    margin-bottom: 20px;
  }

  .description-writer {
    display: none;
  }

  .chat {
    width: 90%;
  }

  #userInput {
    flex: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: 'Marcellus', serif;
    margin-bottom: -160%;
    width: 100%;
    font-size: 16px;
    margin-left: 10%;
    text-align: justify;
    margin-bottom: -20%;
  }

  #buttonBackHomeChat {
    margin-bottom: 2%;
  }

  .chat-input button {
    margin-bottom: -20%;
  }
}